<ngx-extended-pdf-viewer
  *ngIf="pdf"
  [src]="pdf"
  [showOpenFileButton]="false"
  [showRotateButton]="false"
  [printResolution]="300"
  [showToolbar]="urlComponent && !mobile"
  [textLayer]="urlComponent"
  [showHandToolButton]="urlComponent && !mobile"
  [handTool]="!urlComponent"
  [logLevel]="0"
  [ignoreKeyboard]="true"
  [sidebarVisible]="urlComponent && !mobile"
  backgroundColor="var(--surface-800)"
  filenameForDownload="SerialQR_Rechnungen.pdf"
  [zoom]="zoom"
  [theme]="'dark'"
  language="de-CH"
  height="100%"
></ngx-extended-pdf-viewer>
<div *ngIf="!pdf" class="logo-container">
  <img src="/assets/icons/logo.svg" />
</div>
