<div class="table">
  <p-table
    [value]="metadata"
    [selectionMode]="selectionMode"
    [(selection)]="selectedMetadata"
    [scrollable]="true"
    scrollHeight="calc(100vh - 400px)"
  >
    <ng-template pTemplate="header">
      <tr>
        <th style="flex: 0 0 3rem">
          <p-tableHeaderCheckbox
            *ngIf="selectionMode === 'multiple'"
          ></p-tableHeaderCheckbox>
        </th>
        <th>Name</th>
        <th style="flex: 0 0 9rem"></th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-metadata let-rowIndex>
      <tr [pSelectableRow]="metadata" [pSelectableRowIndex]="rowIndex">
        <td style="flex: 0 0 3rem">
          <p-tableCheckbox [value]="metadata"></p-tableCheckbox>
        </td>
        <td>{{ metadata.name }}</td>
        <td style="flex: 0 0 9rem">
          <button
            pButton
            pRipple
            icon="pi pi-pencil"
            class="p-button-sm p-button-rounded p-button-text"
            (click)="rename(metadata)"
          ></button>
          <button
            pButton
            pRipple
            icon="pi pi-trash"
            class="p-button-sm p-button-rounded p-button-text p-button-danger"
            (click)="delete(metadata)"
          ></button>
        </td>
      </tr>
    </ng-template>
  </p-table>
</div>
<div class="button">
  <button
    pButton
    [label]="buttonText"
    (click)="select()"
    [disabled]="invalid()"
  ></button>
</div>
