<main>
  <p-menubar [model]="items">
    <ng-template pTemplate="end">
      <div class="title">
        <ng-container *ngFor="let rightItem of rightItems">
          <a
            *ngIf="rightItem.visible"
            icon="material-icons file_download"
            [pTooltip]="rightItem.tooltip ? rightItem.tooltip : ''"
            tooltipPosition="bottom"
            class="p-ripple p-element p-menuitem-link"
            (click)="rightItem.command ? rightItem.command() : mobile"
          >
            <span [class]="'p-menuitem-icon ' + rightItem.icon"></span>
          </a>
        </ng-container>
        <h1>SerialQR</h1>
        <img src="/assets/icons/logo.svg" height="40" class="p-mr-2" />
      </div>
    </ng-template>
  </p-menubar>
  <div class="content">
    <router-outlet></router-outlet>
  </div>
</main>
