<main>
  <p-menubar [model]="items">
    <ng-template pTemplate="end">
      <div class="title">
        <ng-container *ngFor="let rightItem of rightItems">
          <button
            *ngIf="rightItem.visible"
            pButton
            pRipple
            type="button"
            [icon]="rightItem.icon ? rightItem.icon : ''"
            [pTooltip]="rightItem.tooltip ? rightItem.tooltip : ''"
            tooltipPosition="bottom"
            class="p-ripple p-element p-menuitem-link"
            (click)="rightItem.command ? rightItem.command() : mobile"
            class="p-button-rounded p-button-text p-button-plain"
          ></button>
        </ng-container>
        <h1>SerialQR</h1>
        <img src="/assets/icons/logo.svg" height="40" class="p-mr-2" />
      </div>
    </ng-template>
  </p-menubar>
  <div class="content">
    <router-outlet></router-outlet>
  </div>
</main>
