<p-splitter
  *ngIf="showView; else form"
  [style]="{ height: '100%', width: '100%' }"
  [panelSizes]="[60, 40]"
  [minSizes]="[40, 30]"
>
  <ng-template pTemplate>
    <ng-container [ngTemplateOutlet]="form"></ng-container>
  </ng-template>
  <ng-template pTemplate>
    <qr-view *ngIf="showView" [zoom]="75"></qr-view>
  </ng-template>
</p-splitter>
<ng-template #form>
  <div class="options">
    <qr-editor
      label="Briefkopf"
      [(value)]="project.options.customHeading"
    ></qr-editor>
  </div>
</ng-template>
